.contact {
    text-align: center;
    vertical-align: middle;
    padding: auto;
    margin: auto;
    width: auto;
}

.error {
    border-color: red;
}

.content {
    display: block;
    margin: auto;
    width: 60%;
}

#message {
    width: 100%;
}

.email-form {
    text-align: center;
    width: 100%;
}