.topnav{
    width: calc(100vw - (100vw - 100%));
    height: 35px;
    background-color: lightsteelblue;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text-black {
    color: black;
    font-size: 1.5em;
    margin-left: 10px;
}

.text-black a {
    color: black;
    text-decoration: none;
}

.text-black a:hover {
    color: black;
    text-decoration: none;
}

.text-black a:visited {
    color: black;
    text-decoration: none;
}

.topelement {
    text-decoration: none;
    color: black;
    margin: 15px;
}

a:hover{
    cursor: pointer;
}

text {
    position: absolute;
    left: 8px;
    top: 6px;
    font-family: "Reenie Beanie", sans-serif;
}

.elements{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.mr {
    margin-right: 20px;
}

.nav-menu {
    position: absolute;
    right: 0;
    top: 30px;
    border: 1px solid black;
    text-align: right;
    background-color: lightsteelblue;
    font-size: 2em;
    border-collapse: collapse;
    z-index: 5;
}

.nav-menu tr {
    border: 1px solid black;
}