.topnav{
    width: 100vw;
    height: 30px;
    background-color: lightsteelblue;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text-black {
    color: black;
}

.topelement {
    text-decoration: none;
    color: black;
    margin: 15px;
}

a:hover{
    cursor: pointer;
}

text {
    position: absolute;
    left: 8px;
    top: 6px;
    font-family: "Reenie Beanie", sans-serif;
}

.elements{
    padding-top: 5px;
    padding-bottom: 5px;
}

.mr {
    margin-right: 1%;
}

.nav-menu {
    position: absolute;
    right: 0;
    top: 30px;
    border: 1px solid black;
    text-align: right;
    background-color: lightsteelblue;
    font-size: 2em;
    border-collapse: collapse;
    z-index: 5;
}

.nav-menu tr {
    border: 1px solid black;
}